@import url('https://fonts.googleapis.com/css?family=Muli|Roboto+Mono');
body{
   font-family: "Muli"!important;*/
   background-color:#FFFFFF;
}
.top-bar{
   background-color:#4990e2!important;
   border:1px solid  #4990e2;

}

.top h3{

   color:white!important;
   font-size: 24px!important;
     font-weight:100;
	 margin-top:20px!important;
	

}
.top small{
    font-size:14px;
    font-weight: 40%!important;
	color: #92c2f2!important;

}
@media only screen and (max-width:  992px) and (min-width: 400px)  {
.nav-pills{
   margin-top: 40px!important;

}


.top h3{

   color:white!important;
   font-size: 24px!important;
     font-weight:100;
	 margin-top:20px!important;
	

}

.top small{
    padding-top: 100px;
   text-align:center!important;
  /* background-color:  #4990e2;*/

}

   .top img {
    padding-top: 0px;
}
.bottom{
  visibility:hidden;
}
.btn-bottom{
  display:block!important;

}
.btn-bottom-two{
    margin-top:50px;

}
.btn-botttom-one{
   
}
}

.nav-bottom li{
  list-style:none;
  display: inline-block;
  padding-left:20px;
  color: #92c2f2!important;
 

}

.nav-bottom{
    float: left;
    margin-top: 60px!important;
    margin-bottom: 0!important;

    margin-left: 20px!important;
}
.nav-bottom a:hover {
    color: #FFF!important;
}
<!--arrival-->


/*.flex-container {
  display: flex;
  align-items: stretch;
   justify-content: space-around;
   box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2)!important;
  
}

.flex-container > div {
     width: 100px;
     text-align: center;
 
  font-size: 16px;
}*/

.col-md-5 span{
    color:#ccc8c8;
}


select {
  border-top-style: none!important;
  border-right-style: none!important;
  border-left-style: none!important;
  border-bottom-width: 1px solid!important;
  width: 300px;
  font-style: normal!important;
  font-size: 16px!important;
  
  

}
.add-main h5{
    color:  #92c2f2!important;

}
.add-main small{
    color:  #92c2f2!important;

}
.main{
   border:1px solid #488ddc;
   height: 465px;
   

}
.main h3{
    padding-top: 50px;
	padding-left: 12px;
}
.btn-bottom{

    margin-top: 280px;
	 display: flex;
  align-items: center;
  justify-content: center;
}
.btn-book{
   width: 250px;
   background-color: #2196f3!important;
   float:right;
   color:#FFF!important;
}
.btn-book a{
   color:#FFF!important;
   font-family:"open sans"!important; 
   text-decoration:none;
}
.btn-book:focus{
   outline: none;
}
.btn-cancel{
   border:none!important;
   float:left;
   background-color: transparent!important;
   color:  #488ddc!important;
   font-size:16px;
   font-weight:100;
  
}
.btn-cancel:focus {
  outline: none;
}
<!--view-detail-->

.btn-one{
    color:#FFF!important;
}
.btn-two{
  color:#FFF!important;
}
.btn-three a{
    
}
.btn-one a{
    color:#FFF!important;
}
.btn-two a{
  color:#FFF!important;
}

<!--book-empty css-->
.container-emp h5 {
    
	margin-top: 200px!important;
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom:300px!important;

}
.btn-emp{
   color:#FFF!important;
   width: 250px;
   background-color: #2196f3!important;
   float:center;
   border-color:transparent;

}
.btn-emp a{
     text-decoration:none!important;
	  color:#FFF!important;
}
.bottom-emp{
  visibility:visible;
}

}
.nav-bottom-emp ul{
  list-style:none;
  display: inline-block;
  padding-left:20px;
  color: #92c2f2;

}
.nav-bottom-emp li{
  list-style:none;
  display: inline-block;
  padding-left:20px;
  color: #92c2f2;

}

.nav-bottom-emp{
    float: center!important;
    margin-top: 60px!important;
    margin-bottom: 0!important;

    margin-left: 20px!important;
}
.nav-bottom-emp a:focus{
    color:#FFF!important;
}


<!--book-list css-->
.circle{
  width: 50px;
  height: 40px;
   background: #blue;
  text-align: center;
  border-radius: 100%;
  font-size: 24px;
  line-height: 16px;
  padding-top: 14px;
}
.circle span{
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
  display: block;
  color:#fff;
}
 .mid-con{
    display:flex;
 }
new-line {
   
  padding-left: 0px;
  padding-top: 30px;
  border-top-style: none;  
  border-right-style: none; 
  border-left-style: none;  
  border-bottom: 1px solid gray;
  width: 70px;
}
.btn-list{
  width: 225px;
   background-color: #2196f3!important;
   float:right;
   color:#FFF!important;
   margin-top: 280px;

}

@media only screen and (max-width:  992px) and (min-width: 400px)  {
.book-list{
     border:1px solid gray;
     display:flex;
}
.new-line {
  padding-left: 0px;
  padding-top: 30px;
  border-top-style: none;  
  border-right-style: none; 
  border-left-style: none;  
  border-bottom: 1px solid gray;
  width: 70px;

}
.mid-con img{
    width: 80px;
	height: 75px;
   padding-top: 30px;
    padding-left: 10px;
}
.top-li h4{
   font-size: 14px;
  font-weight: bold;
}
.bottom-li h4{
    font-size: 14px;
	font-weight: bold;
}
.top-li label{
    font-size:8px;
	color:#CCCCCC!important;
}
.bottom-li label{
   font-size:8px;
   color:#CCCCCC!important;
}
.col-lg-4{
   margin-top: 200px!important;
   width:20%!important;
}
.nav-bottom{
  list-style:none;
  display: inline-block;
  padding-left:20px;
  color: #92c2f2;


}
.nav-bottom-emp a:focus{
  color:#FFF!important;
}
}