
<style>
  #arrive{
  
  height: 50px;
   box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2)!important;
  display: -webkit-flex; /* Safari */
  display: flex;
  margin-top:20px;
}
/* Safari 6.1+ */
#arrive div:nth-of-type(1) {-webkit-flex-grow: 1;}
#arrive div:nth-of-type(2) {-webkit-flex-grow: 3;}
#arrive div:nth-of-type(3) {-webkit-flex-grow: 1;}


/* Standard syntax */
#arrive div:nth-of-type(1) {flex-grow: 1;}
#arrive div:nth-of-type(2) {flex-grow: 3;}
#arrive div:nth-of-type(3) {flex-grow: 1;}

.btn-arrival{

margin-top:200px;
margin-left:800px; 
width:100px; 
color:#FFF!important;
}
.btn-arrival a{
 
  color:#FFF!important;

}

@media only screen and (max-width:  992px) and (min-width: 400px){
  .btn-arrival{

margin-top:200px;
margin-left:800px; 
width:100px; 
color:#FFF!important;
}
.btn-arrival a{
 
 color:#FFF!important;

}
}

</style>
<div class="container main text-center">
  <div class="container">
    <div class="col-lg-6">
    <div id="arrive">
        <div ><img src="images/arrival.jpg"></div>
        <div > Air Mauritius <br> <span> Mauritius</span></div>
        <div style="color:#FF0000">MK 640<br><span>10:30</span> </div>
    </div>
    </div>
    <div class="col-lg-6">
    <div id="arrive">
    <div > <img src="images/arrival.jpg"></div>
    <div>Cathay Pacific<br><span>Manila</span></div>
  <div style="color:#FF0000">CX 912<br><span>10:35</span></div>
  </div>
</div>
</div>
   
  <div class="container">
    <div class="col-lg-6">
        <div id="arrive">
        <div ><img src="images/arrival.jpg"></div>
        <div >Xiamen Airlines<br><span>Fuzhou</span></div>
        <div  style="color:#FF0000">MF 8695<br><span>10:30</span></div>
        </div>
    </div>
    <div class="col-lg-6 ">
        <div id="arrive">
        <div ><img src="images/arrival.jpg"></div>
        <div > Shanghai Airlines<br><span>Shanghai</span></div>
        <div  style="color:#FF0000">FM 8231<br><span>10:40</span></div>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="col-lg-6  ">
        <div id="arrive">
        <div ><img src="images/arrival.jpg"></div>
        <div > Singapore Airlines<br><span>Singapore</span></div>
        <div  style="color:#FF0000">SQ 890<br><span>10:30</span></div>
        </div>
    </div>
    <div class="col-lg-6">
        <div id="arrive">
        <div ><img src="images/arrival.jpg"></div>
        <div >Thai Airways<br><span>Bangkok</span></div>
        <div style="color:#FF0000">TG 600<br><span>11:45</span></div>
        </div>
    </div>
  </div>
  <div class="btn-arrival">
      <button type="button" class="btn btn-primary" >
     <a href="#/book">BOOK</a>
      </button>
</div>


</div>
