<style>
    #booklist{
    width:75%;
    height: 60px;
     box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2)!important;
    display: -webkit-flex; /* Safari */
    display: flex;
    margin-top:50px;
    margin-left:50px;
  }
  /* Safari 6.1+ */
  #booklist div:nth-of-type(1) {-webkit-flex-grow: 1;}
  #booklist  div:nth-of-type(2) {-webkit-flex-grow: 3;}
  #booklist  div:nth-of-type(3) {-webkit-flex-grow: 1;}
  
  
  /* Standard syntax */
  #booklist  div:nth-of-type(1) {flex-grow: 1;}
  #booklist  div:nth-of-type(2) {flex-grow: 3;}
  #booklist  div:nth-of-type(3) {flex-grow: 1;}
  hr {
    background-color: #474646 !important;
    color: dimgrey !important;
    border: solid 1px #474646 !important;
    height: 2px !important;
    width: 200px !important;
    margin-bottom: 20px;
}
 img{
   vertical-align: left;
 }

  </style>

  <div class ="container main">
    <p style="padding-top: 10px;">Sat 22 December</p>

    <div class="container">
        <div id="booklist" class="text-center">
          <div> <b>SIN</b> <br> <span><small>Singapore</small> </span><br><b>4.10pm</b></div>
          	  <div> <img src="images/plane.jpg"><hr ></div>
             <div ><b>Han</b> </h4> <br> <span><small>Hanoi</small> </span><br><b>6.25pm</b></div>
          </div>
    </div>
  <div class="btn-list">
    <button type="button" class="btn btn-primary btn-ml btn-book">
   <a href="#/view">BOOK</a>
    </button>
  </div>
  </div>
