

<div class="clearfix"></div>
 <div class ="container main">
   <div class="container">
    <div class="col-lg-6">
      <h4 ><small>From</small></h4>
      <select class="">
        <option value="Singapore">Singapore</option>
         <option value="Australia">Australia</option>
        <option value="Finland">Finland</option>
      <option value="Norway">Norway</option>
      </select>
    </div>
    <div class="col-lg-6">
        <h4><small>To</small></h4>
      <select class="">
        <option value="Hanoi">Hanoi</option>
       <option value="United States">United States</option>
         <option value="Uzbekistan">Uzbekistan</option>
         <option value="Vietnam">Viet Nam</option>
      </select>
    </div>
	</div>
	<div class="container">
    <div class="col-lg-6">
     <h4><small>Date</small></h4>
      <select class="">
        <option>22 December 2019</option>
        <option>23 December 2019</option>
        <option>24 December 2019</option>
        <option>25 December 2019</option>
      </select>
    </div>
    <!--<div class="col-lg-6"> <a href="#/time">Flight Timing</a> </div>-->
	</div>
    <br>
    <div class="col-lg-12 btn-bottom">
      <div class="col-lg-6 btn-bottom-two">
	 
      <button class="btn-cancel" type="button" autofocus ><a href="#/empty">CANCEL</a></button>
      </div>
	
      <div class="col-lg-6 btn-bottom-one">
	 
        <button type="button" class="btn btn-primary btn-ml btn-book " autofocus > <a href= "#/view"> BOOK</a></button>
      </div>
    </div>
  </div>
</div>
