
<div class="clearfix"></div>

  <div class ="container main">
    <!--<h5><small>From</small></h5>-->
    <div class="col-lg-6">
      <h4><small><b>From</b></small></h4>
      <p>Singapore</p>
    </div>
    <div class="col-lg-6">
      <h4><small><b>To</b></small></h4>
      <p>Hanoi</p>
    </div>
    <div class="col-lg-6">
      <h4><small><b>Date</b></small></h4>
      <p>22 December 2018</p>
      </select>
    </div>
    <div class="col-lg-6"> </div>
    <br>
    <div class="container btn-bottom">
      <div class="col-lg-4">
        <button class="btn-cancel btn-three" type="button" autofocus >
        <a href="#/add" style="color:#92c2f2!important;padding-top:250px;"><b>Back</b></a>
        </button>
      </div>
      <div class="col-lg-4">
        <button type="button" class="btn btn-primary btn-ml  btn-second "  >
        <a href= "#/empty" style="color:#FFFF!important;padding-top:200px;"><b>CANCEL MY BOOKING</b>
        </button>
      </div>
      <div class="col-lg-4">
        <button type="button" class="btn btn-primary btn-ml btn-first">
        <a href= "#/book" style="color:#FFF!important; padding-top:200px; "><b> MODIFING MY BOOKING</b>
        </button>
      </div>
    </div>
  </div>