<!--<div class={{news.active}} ng-class='{active:$first}' ng-repeat="news in travel_news" ng-controller="departure">
  <div class="row">
    <div class="container">
      <div class="col-sm-12 col-md-12">
        <div class="thumbnail ">
          <div class="caption">
            <h4>{{news.airlineName}}</h4>
            <img ng-src="{{news.image}}" class="img-responsive"/>
            <p >{{news.depatureTime}}</p>
            <p>{{news.fligtNumber}}</p>
            <p>{{news.origin}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<style>
    #depart{
    
    height: 50px;
     box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2)!important;
    display: -webkit-flex; /* Safari */
    display: flex;
    margin-top:20px;
  }
  /* Safari 6.1+ */
  #depart div:nth-of-type(1) {-webkit-flex-grow: 1;}
  #depart div:nth-of-type(2) {-webkit-flex-grow: 3;}
  #depart div:nth-of-type(3) {-webkit-flex-grow: 1;}
  
  
  /* Standard syntax */
  #depart div:nth-of-type(1) {flex-grow: 1;}
  #depart div:nth-of-type(2) {flex-grow: 3;}
  #depart div:nth-of-type(3) {flex-grow: 1;}
  
  .btn-departure{

margin-top:200px;
margin-left:800px; 
width:100px; 
color:#FFF!important;
}
.btn-departure a{
 
  color:#FFF!important;

}

@media only screen and (max-width:  992px) and (min-width: 400px){
  .btn-departurel{

margin-top:200px;
margin-left:800px; 
width:100px; 
color:#FFF!important;
}
.btn-departure a{
 
 color:#FFF!important;

}
}
  </style>
<div class="container main text-center">
    <div class="container">
      <div class="col-lg-6">
      <div id="depart">
<div><img src="images/departure.jpg"></div>
<div> Cebu Pacific Air<br><span>Manila</span></p></div>
<div style="color:#FF0000">5J 273<br><span>09:50</span></p></div>
</div></div>
<div class="col-lg-6 ">
    <div id="depart">
<div><img src="images/departure.jpg"></div>
<div>EVA Air<br><span>Taipei</span></p></div>
<div style="color:#FF0000">BR 892<br><span>09:50</span></div>
</div>
</div>
</div>

<div class="container">

<div class="col-lg-6 ">
    <div id="depart">
<div><img src="images/departure.jpg"></div>
<div>S7 Airlines<br><span>Novosibirsk</span></div>
<div style="color:#FF0000">GH 832<span>09:55</span></div>
</div></div>
<div class="col-lg-6 ">
    <div id="depart">
<div><img src="images/departure.jpg"></div>
<div> Air Canada<br><span>Tokyo</span></div>
<div style="color:#FF0000">AC 6287<br><span>10:00</span></div>
</div>
</div>
</div>
<div class="btn-departure">
  <button type="button" class="btn btn-primary" >
 <a href="#/add">BOOK</a>
  </button>
</div>
</div>