<header>
  <div class="container top-bar ">
    <nav class="navbar navbar-right" >
      <ul class="nav nav-pills top"  align="right" >
        <li><img src="images/logo.png"></li>
        <li >
          <h3 class="top">Richard Mendoza<br>
            <span><small>richard.mendoza@space.com</small></span></h3>
        </li>
      </ul>
    </nav>
    <div class="bottom">
      <nav class="navbar ">
        <div class="navbar-nav">
          <ul class="nav-bottom">
            <li class="nav-bottom"><a href="#/arrival">Arrival</a></li>
            <li class="nav-bottom"><a href="#/departure">Departure</a></li>
            <li class="nav-bottom"><a href="#/view">MyBooking</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>